<!-- Comment placeholder -->

<h1> Contact List </h1>

<%
    contacts = Contact.all
%>
 
 <p>There are <%=Contact.all.count%> contacts in the database:</p>

<ul>
    <% for contact in contacts %>
        <li> <%= contact["first_name"] %> <%= contact["last_name"]%> -- 
            <%=Company.find_by({"id" => contact["company_id"]})["name"]%> </li>
    <% end %>
</ul>

<p>
    <h2><a href="/companies"> Go to companies. </a></h2>
</p>