<h1>Tacos!</h1>

<!-- I'm a HTML comment. -->

<% 
    tacos = ["Carnitas", "Al Pastor", "Fish"]
%>


<%= "There are #{tacos.count} tacos:" %>

<ul>
    <% for taco in tacos %>
        <li> <%= taco%> </li>
    <% end%>
</ul>